In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pandas = pd.read_table('Dataset.dat')

In [84]:
lunch_data_11 = pandas.iloc[np.array((pandas.iloc[:,6]==11)&(pandas.iloc[:,7]>29.9)),:]
lunch_data_12 = pandas.iloc[np.array((pandas.iloc[:,6]==12)|(pandas.iloc[:,6]==13)),:]
lunch_data = pd.concat([lunch_data_11, lunch_data_12])
lunch_data_over10 = lunch_data.iloc[np.array(lunch_data.iloc[:,10]>=10), :]

In [9]:
lunch_data.DURATION[lunch_data.H_END >= 14] = (14 - lunch_data.H_START) * 60 - lunch_data.M_START

/Users/tianyangdong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
lunch_data_over10.DURATION

13       90.37
16       30.58
19       12.64
20       22.63
23       15.00
39       90.68
40       52.55
41       58.70
96       13.83
142      67.38
178      15.00
181      49.28
206      15.24
281      15.10
282      10.07
289      12.24
305     323.13
324      35.70
342      26.88
384      20.50
388      17.17
465      28.64
473      68.38
477      32.17
486      96.63
498     138.84
509      31.81
538     135.42
549     112.51
564      32.13
         ...
1751     14.58
1752    104.23
1756    190.38
1760     16.50
1761     45.20
1763    409.93
1769     17.70
1774     14.68
1780     23.39
1785     10.68
1786     11.50
1789     12.88
1791     38.74
1792     22.01
1803     54.39
1806     20.68
1807     14.55
1813     13.12
1818     22.33
1827     20.17
1828     51.56
1830     33.97
1835     48.24
1836     31.85
1840     41.37
1843     32.14
1844    120.40
1851     12.21
1854     31.55
1858     13.49
Name: DURATION, Length: 564, dtype: float64

In [33]:
lunchmean2 = lunch_data_over10.groupby(['CHOICE'])

In [34]:
lunchmean2.DURATION.mean()

CHOICE
1      13.660000
2      74.607143
3      52.521818
4      65.215143
5      24.016667
6     112.710000
7     112.941250
8      56.333158
9     109.346154
10     43.256667
11     29.811458
12     86.607714
13     41.450946
14     27.170000
15     34.455190
16     41.872083
17     45.935714
18    106.598333
19     75.487273
20     42.733448
21     55.698571
Name: DURATION, dtype: float64

In [9]:
np.array(lunchmean.DURATION.mean())

array([13.66      , 33.91651515, 25.00153846, 30.30181818, 20.29      ,
       45.206875  , 53.207     , 40.14789474, 28.46714286, 31.5       ,
       21.9860274 , 28.85541667, 38.03853659, 17.675     , 18.67231405,
       32.29131313, 35.176     , 27.33      , 31.23      , 36.57314286,
       55.69857143])

In [26]:
lunch_data_over10_2 = lunch_data;

In [28]:
lunch_data_over10_2.DURATION[lunch_data_over10_2.DURATION < 10] = 0 * lunch_data_over10_2.DURATION
lunch_data_over10_2.DURATION[lunch_data_over10_2.DURATION >= 10] = 1 + 0 * lunch_data_over10_2.DURATION

/Users/tianyangdong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/tianyangdong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
lunch_data_over10_2.DURATION

13      1.0
16      1.0
19      1.0
20      1.0
23      1.0
39      1.0
40      1.0
41      1.0
80      0.0
96      1.0
142     1.0
150     0.0
155     0.0
178     1.0
181     1.0
191     0.0
206     1.0
214     0.0
281     1.0
282     1.0
289     1.0
305     1.0
316     0.0
324     1.0
342     1.0
355     0.0
384     1.0
388     1.0
421     0.0
465     1.0
       ...
1761    1.0
1763    1.0
1769    1.0
1773    0.0
1774    1.0
1780    1.0
1781    0.0
1785    1.0
1786    1.0
1789    1.0
1791    1.0
1792    1.0
1802    0.0
1803    1.0
1806    1.0
1807    1.0
1813    1.0
1816    0.0
1818    1.0
1827    1.0
1828    1.0
1830    1.0
1835    1.0
1836    1.0
1840    1.0
1843    1.0
1844    1.0
1851    1.0
1854    1.0
1858    1.0
Name: DURATION, Length: 715, dtype: float64

In [30]:
lunch_data.DURATION

13      1.0
16      1.0
19      1.0
20      1.0
23      1.0
39      1.0
40      1.0
41      1.0
80      0.0
96      1.0
142     1.0
150     0.0
155     0.0
178     1.0
181     1.0
191     0.0
206     1.0
214     0.0
281     1.0
282     1.0
289     1.0
305     1.0
316     0.0
324     1.0
342     1.0
355     0.0
384     1.0
388     1.0
421     0.0
465     1.0
       ...
1761    1.0
1763    1.0
1769    1.0
1773    0.0
1774    1.0
1780    1.0
1781    0.0
1785    1.0
1786    1.0
1789    1.0
1791    1.0
1792    1.0
1802    0.0
1803    1.0
1806    1.0
1807    1.0
1813    1.0
1816    0.0
1818    1.0
1827    1.0
1828    1.0
1830    1.0
1835    1.0
1836    1.0
1840    1.0
1843    1.0
1844    1.0
1851    1.0
1854    1.0
1858    1.0
Name: DURATION, Length: 715, dtype: float64

In [31]:
lunchmean = lunch_data_over10_2.groupby(['CHOICE'])

In [32]:
lunchmean.DURATION.mean()

CHOICE
1     1.000000
2     0.848485
3     0.846154
4     0.795455
5     0.750000
6     1.000000
7     0.800000
8     1.000000
9     0.928571
10    1.000000
11    0.657534
12    0.729167
13    0.902439
14    0.500000
15    0.652893
16    0.727273
17    0.933333
18    0.923077
19    0.916667
20    0.828571
21    1.000000
Name: DURATION, dtype: float64

In [42]:
np.array(lunchmean2.DURATION.mean())  * np.array(lunchmean.DURATION.mean())

array([ 13.66      ,  63.3030303 ,  44.44153846,  51.87568182,
        18.0125    , 112.71      ,  90.353     ,  56.33315789,
       101.53571429,  43.25666667,  19.60205479,  63.15145833,
        37.40695122,  13.585     ,  22.49553719,  30.45242424,
        42.87333333,  98.39846154,  69.19666667,  35.40771429,
        55.69857143])

In [52]:
m_data_1 = pandas.iloc[np.array((pandas.iloc[:,6]==11)&(pandas.iloc[:,7]<=29.9)),:]
m_data_2 = pandas.iloc[np.array((pandas.iloc[:,6]>=7)&(pandas.iloc[:,6]<=10)),:]
m_data = pd.concat([m_data_1, m_data_2])

In [56]:
m_data_3 = m_data.iloc[np.array((m_data.iloc[:,8]==11)&(m_data.iloc[:,9]>29.9)),:]

In [60]:
m_data_4 = m_data.iloc[np.array((m_data.iloc[:,8]==12)|(m_data.iloc[:,8]==13)),:]

In [78]:
m_data_ = pd.concat([m_data_3, m_data_4])

In [91]:
m_data_.DURATION

160       6
269       3
378       3
424      23
520       4
644      13
821       2
838      13
891      27
1230     10
1343     21
1357      1
1367     10
1502      9
1566      1
1660      1
1708     18
1839     18
174       1
222       7
354      20
459      22
492      24
497       5
562       3
679      22
715       4
775      18
861      21
1072     14
       ...
849      38
851      77
855      71
856     118
865      54
958     127
1059     34
1175     92
1177     91
1183     51
1209     89
1229     99
1250     39
1253     85
1266     71
1287     94
1295     96
1326    137
1332    141
1400     36
1430     41
1497     36
1511     95
1525     84
1554     97
1560     42
1578     51
1651     36
1691     30
1768     64
Name: DURATION, Length: 100, dtype: int64

In [80]:
m_data_.DURATION = (m_data_.H_END - 11) * 60 + m_data_.M_END - 30

In [85]:
dd = pd.concat([m_data_, lunch_data])

In [86]:
mean = dd.groupby(['CHOICE'])

In [87]:
mean.DURATION.mean()

CHOICE
1     13.660000
2     62.397532
3     45.154118
4     51.288750
5     20.290000
6     92.346667
7     83.034375
8     54.492609
9     72.478276
10    43.256667
11    21.986027
12    60.234407
13    38.038537
14    17.675000
15    26.154853
16    32.291313
17    42.223889
18    78.672500
19    71.014444
20    36.573143
21    55.698571
Name: DURATION, dtype: float64

In [89]:
dd.DURATION

160       6.00
269       3.00
378       3.00
424      23.00
520       4.00
644      13.00
821       2.00
838      13.00
891      27.00
1230     10.00
1343     21.00
1357      1.00
1367     10.00
1502      9.00
1566      1.00
1660      1.00
1708     18.00
1839     18.00
174       1.00
222       7.00
354      20.00
459      22.00
492      24.00
497       5.00
562       3.00
679      22.00
715       4.00
775      18.00
861      21.00
1072     14.00
         ...
1761     45.20
1763    409.93
1769     17.70
1773      9.23
1774     14.68
1780     23.39
1781      9.67
1785     10.68
1786     11.50
1789     12.88
1791     38.74
1792     22.01
1802      7.81
1803     54.39
1806     20.68
1807     14.55
1813     13.12
1816      5.83
1818     22.33
1827     20.17
1828     51.56
1830     33.97
1835     48.24
1836     31.85
1840     41.37
1843     32.14
1844    120.40
1851     12.21
1854     31.55
1858     13.49
Name: DURATION, Length: 815, dtype: float64